---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a 2025 computer science graduate from Nanyang Technological University. 
    I have previously worked at Autodesk as a Software Engineer Intern, having gained exposure to React front-end and Golang/C# back-end software development. 
    I have also previously worked at HP Inc. as a Data Science Intern, having gained working experience in Python and FastAPI.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelors in Computing, Computer Science @ Nanyang Technological University"
      subtitle="Aug 2021 - May 2025">
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineering Intern @ Autodesk"
      subtitle="Jan 2025 - June 2025 | React, JavaScript, Go, C#, SQL"
    >
      Was part of the PSET Identity team handling Enterprise Single Sign-On. 
    </TimeLineElement>
    <TimeLineElement
      title="Data Science Intern @ Hewlett Packard Inc."
      subtitle="Aug 2023 - Dec 2023 | Python, FastAPI, SQL"
    >
      Was part of the Data Analytics team handling defect detection for manufactured HP products.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
