---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>
  <div>
    <div class="text-xl w-full font-bold mb-5 mt-10">Click on each project to find out more!</div>
  </div>

  <HorizontalCard
    title="Mini Compiler Application"
    desc="Hobby project written in Flask to learn more about compilers and full-stack development. "
    url="https://github.com/Teddies1/tiny-compiler-app"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Flight Delay Machine Learning"
    desc="Machine learning pipeline project written in Python to identify airlines and airports with the longest flight delays and their reasons."
    url="https://github.com/Teddies1/SC1015-Data-Science-Project"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Automate"
    desc="Android application written in Java to let users find nearby carparks and amenities."
    url="https://github.com/Teddies1/Software-Engineering-Project"
  />
</BaseLayout>
